*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  user-select: none;
  scroll-behavior: smooth;

}
html{
    font-size: 62.5%;
}
a{
  text-decoration: none ;
  color: #60696E;
}
.active{
  /* border-bottom:2px solid #60696E !important; */
  border: none !important ;
background-color: white !important;
}
.main-container{
  min-height: 100vh;
  width: 100vw;
  }
  .app-content{
    display: flex;
    padding: 0 10rem 0 10rem;
    min-height: 100vh;
    /* background-color: red; */
  }
  .middle{
    display: flex;
    width: 100%;
    
  }  